@model FPIMV2.Models.FacultyPage

@{
    ViewBag.Title = "Add an external link to your webpage";
}
@Html.Partial("WelcomeBox", Model.FacultyProfile) 
<h2>AddFacultyExternalLink</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @Html.HiddenFor(model => model.ProfileId)
        <legend>Add Link to an External Page</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PageTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PageTitle)
            @Html.ValidationMessageFor(model => model.PageTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LinkURL)
        </div>
        <div class="editor-field">
            @Html.URLFor(model => model.LinkURL, new { style = "width: 500px;" })
            @Html.ValidationMessageFor(model => model.LinkURL)
        </div>

        <p align="center">
            <input type="submit" id="submitBtn" value="Submit" class="twelve" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "ManagePages", "Home", new { profileId = Model.ProfileId}, null)
</div>
@section Style {
    @Styles.Render("~/Content/css")
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/addPage")
}
