@model FPIMV2.Models.ProfileMod

<h2>@Model.ModTitle</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.ModId)
    @Html.HiddenFor(model => model.UserId)
    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.FacultyPageId)
    @Html.HiddenFor(model => model.ModuleType)
    @Html.HiddenFor(model => model.ModTitle)
    @Html.HiddenFor(model => model.ModData)
    @Html.HiddenFor(model => model.DispOrder)
    
        <h3>Type:  @Model.ModuleType</h3>
        <h3>Data:</h3>
        <div>@Html.Raw(@Model.ModData)</div>
        <h3></h3>
        <h3></h3>
        <h3></h3>

        <div align="center" position:  fixed; bottom: 20px>
            <input type="submit" id="submitBtn" value="Yes, Delete this module" class="twelve" />
            @Html.ActionLink("No, do not delete this module", "ManageModules", "Home", new { profileId = @Model.ProfileId }, new {@class="twelve"})
        </div>
}
<script src="~/Scripts/appjs/index.js"></script>