@model FPIMV2.Models.FacultyPage


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.FacultyPageId)
    @Html.HiddenFor(model => model.ProfileId)
    @Html.HiddenFor(model => model.PageTitle)
    @Html.HiddenFor(model => model.LinkURL)
    
        <div align="center">
        <h3>@Model.PageTitle</h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
        <h3></h3>
        </div>

        <div align="center" position:  fixed; bottom: 20px>
            <input type="submit" id="submitBtn" value="Yes, Delete this page" class="twelve" />
            @Html.ActionLink("No, do not delete this page", "ManagePages", "Home", new { profileId = @Model.ProfileId }, new {@class="twelve"})
        </div>

}


<script src="~/Scripts/appjs/index.js"></script>

