@model FPIMV2.Models.FacultyProfile

@{
    ViewBag.Title = "ManageDeptAssocAOS";
}


@Html.Partial("WelcomeBox", Model) 
<h2>Manage Departmental Associations and Areas of Study</h2>
        <strong>@ViewBag.FirstName @ViewBag.LastName is associated with the following Departments:  </strong>
        @{
            HtmlString deptList = new HtmlString(FPIMV2.Helpers.fns.GetMyDepts(@Model.UserId, @Model.ESFAD, @Model.SUAD));
                @deptList
        }
        @Html.ActionLink("Click to Edit","EditDeptAssoc", "Home", new { profileId = @Model.ProfileId}, new {@class="ui-widget-header ui-corner-all"})
<p></p>
        <strong>@ViewBag.FirstName @ViewBag.LastName is associated with the following Areas of Study:  </strong>
        @{
            HtmlString aosList = new HtmlString(FPIMV2.Helpers.fns.GetMyAOSs(@Model.UserId, @Model.ESFAD, @Model.SUAD));
                @aosList
        }

        @Html.ActionLink("Click to Edit","EditDeptAOS", "Home", new { profileId = @Model.ProfileId}, new {@class="ui-widget-header ui-corner-all"})

<p></p>

<p></p>
<p></p>
  <p>
  @Html.ActionLink("Done","AdminIndex", "Home", new { profileId = @Model.ProfileId}, new {@class="ui-widget-header ui-corner-all"})
  </p>
