
@model Tuple<IEnumerable<FPIMV2.Models.AddFacStaff>, FPIMV2.Models.FacultyProfile>
@{
    ViewBag.Title = "ManageNonHRFaculty";
}
@Html.Partial("WelcomeBox", Model.Item2) 
<h2>Manage Non-HR based Faculty</h2>

<style>
th, td { vertical-align: top}
</style>
<h3>Select the faculty member whose records you would like to edit.</h3>
<h3>Or, click the 'Add' or 'Delete' button to manually add/delete faculty.</h3>
<table>
    <tr>
            <th class="twelve bggray"><strong>Faculty Name</strong></th>
    </tr>
@foreach (var item in Model.Item1) {
    string fullName = item.LastName + ',' + item.FirstName;
    <tr>
        <td>
            <strong>@Html.ActionLink(fullName, "ManuallyUpdateFaculty", "Home", new { userId=item.UserId, profileID=@ViewBag.ProfileId }, null)</strong>
            @Html.DisplayFor(modelItem => item.CampusTitle)
        </td>
    </tr>
}
</table>

<div>
@Html.ActionLink("Add Faculty", "ManuallyAddFaculty", "Home", new { profileId = @ViewBag.ProfileId }, new {@class="ui-widget-header ui-corner-all"})
@Html.ActionLink("Delete Faculty", "ManuallyDeleteFacultty", "Home", new { profileId = @ViewBag.ProfileId }, new {@class="ui-widget-header ui-corner-all"})
@Html.ActionLink("Done", "AdminIndex", "Home", new { profileId = @ViewBag.ProfileId }, new {@class="ui-widget-header ui-corner-all"})

</div>
