@model Tuple<FPIMV2.Models.AddFacStaff, FPIMV2.Models.FacultyProfile>

@{
    ViewBag.Title = "ManuallyUpdateFaculty";
}
@Html.Partial("WelcomeBox", Model.Item2)
<h2>Manually Update a Faculty Member</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <input id="profileId" name="Item2.profileId" type="hidden" value="@Model.Item2.ProfileId" />
    <fieldset>
        <legend>AddFacStaff</legend>

            @Html.HiddenFor(model => model.Item1.UserId)


        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.FirstName)
            @Html.ValidationMessageFor(model => model.Item1.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.MiddleName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.MiddleName)
            @Html.ValidationMessageFor(model => model.Item1.MiddleName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.LastName)
            @Html.ValidationMessageFor(model => model.Item1.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.Suffix)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.Suffix)
            @Html.ValidationMessageFor(model => model.Item1.Suffix)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.OffcBldg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.OffcBldg)
            @Html.ValidationMessageFor(model => model.Item1.OffcBldg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.OffcRoom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.OffcRoom)
            @Html.ValidationMessageFor(model => model.Item1.OffcRoom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.OffcPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.OffcPhone)
            @Html.ValidationMessageFor(model => model.Item1.OffcPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.SpeedDialExt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.SpeedDialExt)
            @Html.ValidationMessageFor(model => model.Item1.SpeedDialExt)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.MailAddrBldg)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.MailAddrBldg)
            @Html.ValidationMessageFor(model => model.Item1.MailAddrBldg)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.MailAddrRoom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.MailAddrRoom)
            @Html.ValidationMessageFor(model => model.Item1.MailAddrRoom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.AltOffcPhone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.AltOffcPhone)
            @Html.ValidationMessageFor(model => model.Item1.AltOffcPhone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.EmailId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.EmailId)
            @Html.ValidationMessageFor(model => model.Item1.EmailId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.CampusTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.CampusTitle)
            @Html.ValidationMessageFor(model => model.Item1.CampusTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.CivilServiceTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.CivilServiceTitle)
            @Html.ValidationMessageFor(model => model.Item1.CivilServiceTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.WorkLoc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.WorkLoc)
            @Html.ValidationMessageFor(model => model.Item1.WorkLoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.ESFAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.ESFAD)
            @Html.ValidationMessageFor(model => model.Item1.ESFAD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Item1.SUAD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item1.SUAD)
            @Html.ValidationMessageFor(model => model.Item1.SUAD)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "ManageNonHRFaculty", "Home", new { profileId = @Model.Item2.ProfileId  }, new {@class="ui-widget-header ui-corner-all"})
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
