@model FPIMV2.Models.FacultyProfile
@using FPIMV2.Helpers;

		<div id="box" class="bgmenublue maxw300 w30 right border martop">
<h4>
@{
    HtmlString header = new HtmlString(fns.GetEmployeeWelcomeString(@Model.UserId, @Model.ESFAD, @Model.SUAD));
  @header
}
<br><span class="ten fontnorm">User ID: <strong>@Html.DisplayFor(m => m.UserId)</strong>
</span></h4>
                <ul>
                <li>@Html.ActionLink("Your Home Menu", "AdminIndex", "Home", new { profileId = @Model.ProfileId }, null)</li>
				<li><a href="/faculty/admin/logout.asp">Logout</a></li>
			</ul>
			<p><em>Sessions will be logged out after 20 minutes of inactivity.</em></p>
		</div>

